---
layout: page
title:  "Algorithms"
date:   2016-10-02 22:23:25 +0300
categories: environment
---

Algorithms with implementation in different languages. Good place to study new language. For each algorithm
there are linked problems.

<ul class="post-list">
  {% for post in site.posts %}
  {% if post.categories contains "algorithm" %}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% for impl in post.implementations %}
        <span class="language-flag language-flag-{{ impl }}">{{ impl }}</span>
        {% endfor %}
      </h3>
    </li>
  {% endif %}
  {% endfor %}
</ul>
