---
layout: page
title:  "Algorithms"
date:   2016-10-02 22:23:25 +0300
categories: environment
---

<p>Algorithms with implementation in different languages. Good place to study new language. For each algorithm
there are linked problems.</p>

<h2>Additial Reading</h2>

<p><a href="http://mathworld.wolfram.com/">Wolfram Mathworld</a> seems to ba a good place to read about
agressive math.</p>

<p><a href="http://www.gamasutra.com/">Gamasutra</a> has lots of good articles about game-related math,
and is a good source of knowledge.</p>

<h2>List of Algorithms</h2>

<ul class="post-list">
  {% for post in site.posts %}
  {% if post.categories contains "algorithm" %}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% for impl in post.implementations %}
        <span class="language-flag language-flag-{{ impl }}">{{ impl }}</span>
        {% endfor %}
      </h3>
    </li>
  {% endif %}
  {% endfor %}
</ul>
